@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --plyr-color-main: #d1b61a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.plyr__controls_c {
  display: block !important;
  position: absolute !important;
  bottom: 0 !important;
  background: linear-gradient(#0000, #000000bf) !important;
  left: 0 !important;
  right: 0 !important;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out !important;
  z-index: 3 !important;
  color: azure;
}

.plyr__controls_tools__c {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plyr__controls_tools_main__c {
  display: flex;
  width: 100%;
  justify-content: center;
}

.plyr__timers_c {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

/* This is purely for the demo */
/* .container {
  max-width: 800px;
  margin: 0 auto;
}
.plyr {
  border-radius: 4px;
  margin-bottom: 15px;
}
.title {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 20px;
}
.button {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  padding: 20px;
}
.plyr--hide-controls .title {
  opacity: 0;
  pointer-events: none;
}
.plyr--hide-controls .button {
  opacity: 0;
  pointer-events: none;
} */
